<!-- todo -->
<!-- this html is the form for having the x(start) and x(end) for a function -->
<!-- this should have another input which is the function -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partial/head.ejs') %>
  <body>
    <%- include('partial/nav.ejs') %>

    <form action="/plot">
      <label>
        x_start:
        <input name="xS" required>
      </label>
      <label>
        x_end:
        <input name="xL" required>
      </label>
      <button>Click</button>
    </form>

  </body>
</html>
