<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partial/head.ejs') %>
  <body>
    <div>
      <%- include('partial/nav.ejs') %>
    </div>
    <div id="container">
      <h3><em>what is Prime number?</em></h3>
      <p>- a prime number (or a prime) is a natural number greater than 1 that is
        not a product of two smaller natural numbers. a natural number greater than
        1 that is not prime is called a composite number. for example, 5 is
        prime because the only ways of writing it as a product, 1 × 5 or 5 × 1,
        involve 5 itself. however, 4 is composite because it is a product (2 × 2) in
        which both numbers are smaller than 4. primes are central in number theory because
        of the fundamental theorem of arithmetic: every natural number greater than 1 is either
        a prime itself or can be factorized as a product of primes that is unique up to their
        order. -
      </p><br><br>

      <h3><em>how to use this server?</em></h3>
      <p>- in 'prime option' page, there are different forms that you can pass inputs and
        have results. by taking the url, you can use the results in another web applications -
      </p>
      <p>- a sample of using this api-server:
        <a href="https://prime-numbers-api-client.surge.sh"
           style="background:rgba(0,35,55,1)"
           target="_blank">
          Prime Numbers
        </a>-
      </p>
    </div>
  </body>
</html>
