<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partial/head.ejs') %>
  <body>
    <%- include('partial/nav.ejs') %>
    <div id="container">
      <h1> welcome to math API </h1>
    </div>
  </body>
</html>
