<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partial/head.ejs') %>
  <body>
    <div>
      <%- include('partial/nav.ejs') %>
    </div>
    <div id="container">
      <h2>How you can use this server?</h2>
      <p>
    </div>
  </body>
</html>
