<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partial/head.ejs') %>
  <body>
    <%- include('partial/nav.ejs') %>

    <form action="/prime">
      <label>
        number to check:
        <input name="pCheck" required>
      </label>
      <button>Click</button>
    </form>

    <form action="/primeCheck">
      <label>
        number to check:
        <input name="pCheck" required>
      </label>
      <button>Click</button>
    </form>

    <form action="/primeDivisions">
      <label>
        number to check:
        <input name="pCheck" required>
      </label>
      <button>Click</button>
    </form>

    <form action="/primes_to_a_number">
      <label>
        number to check:
        <input name="pCheck" required>
      </label>
      <button>Click</button>
    </form>

    <form action="/primes_in_bound">
      <label>
        number to check:
        <input name="rangeS" required>
      </label>
      <label>
        number to check:
        <input name="rangeE" required>
      </label>
      <button>Click</button>
    </form>

    <form action="/primes_is_sophie">
      <label>
        number to check:
        <input name="pCheck" required>
      </label>
      <button>Click</button>
    </form>

    <form action="/primes_is_mersenne">
      <label>
        number to check:
        <input name="pCheck" required>
      </label>
      <button>Click</button>
    </form>

    <form action="/primes_has_twin">
      <label>
        number to check:
        <input name="pCheck" required>
      </label>
      <button>Click</button>
    </form>

    <form action="/primes_is_isolated">
      <label>
        number to check:
        <input name="pCheck" required>
      </label>
      <button>Click</button>
    </form>

  </body>
</html>
