<!-- todo -->
<!-- this form for trigonometry one -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partial/head.ejs') %>
  <body>
    <%- include('partial/nav.ejs') %>

    <form action="/trigonometry">
      <label>
        Give me a degree:
        <input name="degree" required>
      </label>
      <button>Click</button>
    </form>

  </body>
</html>
