<header>
  <h1>Prime Number API</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/trigonometryPart">Trigonometry</a>
    <a href="/functionPart">Plot a Fucntion</a>
    <a href="/primePart">Prime check</a>
  </nav>
<header>
