<header>
  <nav>
    <a href="/">Home</a>
    <a href="/primePart">Prime Options</a>

    <!-- these two are gonna add later -->
    <!-- <a href="/trigonometryPart">Trigonometry</a>
    <a href="/functionPart">Plot a Fucntion</a> -->
    
  </nav>
  <h1>Prime Number API</h1>

<header>
